<div style="width:1000px; height: 200px; margin-left:auto; margin-right:auto; display:grid;">
    <h2 style="text-align:center;">Contraseña cambiada!</h2>
    <p style="text-align: center; width:500px; margin-left:auto; margin-right:auto;">Ya puedes loguearte con tu nueva
        contraseña
    </p>
    <button type="button" style="width: 200px; margin-left:auto; margin-right:auto">
        <a href="http://localhost:8080/api/users/login">Ir a
            loguearme</a></button>
</div>