<div style="width:1000px; height: 200px; margin-left:auto; margin-right:auto; display:grid;">
    <h2 style="text-align:center;">Deseas cambiar tu tipo de usuario?</h2>
    <p style="text-align: center; width:500px; margin-left:auto; margin-right:auto;">Actualmente tu rol en la plataforma
        es: <b> {{user.role}}</b></p>
    {{#if premium}} <p style="text-align: center; width:500px; margin-left:auto; margin-right:auto;">Para cambiar tu rol
        a "user" por favor presiona el boton de abajo</p>{{/if}}
    {{#unless premium}} <p style="text-align: center; width:500px; margin-left:auto; margin-right:auto;">Para cambiar tu
        rol a "premium" por favor presiona el boton de abajo</p>{{/unless}}


    <form method="post" action="/api/users/premium/{{user._id}}"
        style="text-align: center; width:500px; margin-left:auto; margin-right:auto;">
        <button type="submit">Cambiar rol</button>
    </form>
</div>