<h2>El usuario que intenta registrar ya se encuentra registrado con el email ingresado.</h2>
<a href="/api/users/login"><button>Ir a loguearse</button></a> <br>
<a href="/api/users/register"><button>Intentar registrarse de nuevo</button></a>